<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section>
            <div class="vue-logo">
                <svg class="vue-logo__svg" width="256px" height="221px" viewBox="0 0 256 221" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
                    <g>
                        <path d="M204.8,0 L256,0 L128,220.8 L0,0 L50.56,0 L97.92,0 L128,51.2 L157.44,0 L204.8,0 Z" fill="#41B883"></path>
                        <path d="M0,0 L128,220.8 L256,0 L204.8,0 L128,132.48 L50.56,0 L0,0 Z" fill="#41B883"></path>
                        <path d="M50.56,0 L128,133.12 L204.8,0 L157.44,0 L128,51.2 L97.92,0 L50.56,0 Z" fill="#35495E"></path>
                    </g>
                </svg>
                <br>
                <h3 class="vue-logo__title">Úvod do Vue.js</h3>
            </div>
        </section>
        <section>
            <div class="block-user-info">
                <img class="user-info__photo" src="static/images/photo-filip-varecha.jpg" alt="">
                <img class="user-info__fraga" src="static/images/strawberry.svg" alt="">
                <div class="user-info__name">
                    Filip Vařecha
                </div>
                <div class="user-info__position">Full-stack developer <a href="https://fragaria.cz/" target="_blank">@Fragaria</a></div>
                <div class="user-info__social">
                    <a href="https://github.com/xaralis" target="_blank" class="github">Github</a>
                    <a href="https://www.facebook.com/filip.varecha" target="_blank" class="facebook">Facebook</a>
                    <a href="https://www.linkedin.com/in/filip-varecha/" target="_blank" class="linkedin">LinkedIn</a>
                </div>
            </div>
        </section>
        <section>
            <section data-background-color="#ea272e">
                <h2>Úplně základní informace o Vue.js</h2>
                <ul>
                    <li>JS frontendový framework</li>
                    <li>O trochu mladší než React a Angular(JS)</li>
                    <li>O hodně mladší než jQuery</li>
                </ul>
            </section>
            <section>
                <h2>Autor Vue.js</h2>
                <div class="block-user-info">
                    <img class="user-info__photo" src="static/images/photo-evan-you.jpeg" alt="">
                    <div class="user-info__name">
                        Evan You
                    </div>
                    <div class="user-info__position">Core Dev frameworku Meteor</div>
                    <div class="user-info__position">Pracoval jako Creative Technologist v Googlu</div>
                    <div class="user-info__position">Od roku 2016 full-time vyvíjí Vue.js</div>
                    <div class="user-info__social">
                        <a href="https://twitter.com/youyuxi" target="_blank" class="twitter">Twitter</a>
                        <a href="https://github.com/yyx990803/" target="_blank" class="github">Github</a>
                    </div>
                </div>
            </section>
            <section>
                <div class="history">
                    <h2>Historie</h2>
                    <ul>
                        <li class="fragment">Vznik v roce 2013</li>
                        <li class="fragment">První release v únoru 2014 (v0.6)</li>
                        <li class="fragment">v1.0.0 v roce 2015</li>
                        <li class="fragment">Poslední release v2.6.11 v prosinci 2019</li>
                    </ul>
                </div>
            </section>
            <section>
                <h2>Popularita</h2>
                <small>GitHub stars</small>
                <div id="star-chart-container"></div>
            </section>
        </section>
        <section>
            <section>
                <h2>Výhody</h2>
                <ul>
                    <li class="fragment">Malá velikost</li>
                    <li class="fragment">Snadné na pochopení i použití</li>
                    <li class="fragment">Minimum boilerplate kódu, efektivní vývoj</li>
                    <li class="fragment">Snadná integrace i do existujících aplikací</li>
                    <li class="fragment">Výborná a detailní dokumentace</li>
                    <li class="fragment">Flexibilita</li>
                    <li class="fragment">Svoboda volby</li>
                    <li class="fragment">Ale přitom přehledný ekosystém</li>
                </ul>
            </section>
            <section>
                <h2>Další informace</h2>
                <ul>
                    <li>Progresivní framework (bindingy pomocí rozšíření HTML syntaxe)</li>
                    <li>Založený na komponentách</li>
                    <li>Inspirace staršími frameworky, převzal to nejlepší z AngularJS i Reactu</li>
                </ul>
            </section>
            <section>
                <h2>Opravdu malá velikost</h2>
                <code>jsize (react + react-dom)/angular/vue/jquery</code>
                <br>
                <br>
                <table>
                    <tr>
                        <th>Framework</th>
                        <th>Velikost</th>
                    </tr>
                    <tr>
                        <td><strong>Vue.js</strong></td>
                        <td><strong>
                            23.8 kB (gzipped)
                        </strong>
                    </tr>
                    <tr>
                        <td>jquery</td>
                        <td>31.1 kB (gzipped)</td>
                    </tr>
                    <tr>
                        <td>React + react-dom</td>
                        <td>34.4 kB (gzipped)</td>
                    </tr>
                    <tr>
                        <td>Angular</td>
                        <td>62.2 kB (gzipped)</td>
                    </tr>
                    </table>
            </section>
            <section>
                <h2>Jednoduchý na pochopení</h2>
                <small>Základní mechanismy Vue.js se lze z nuly naučit za dvě hodiny</small>
                <pre class="code"><code class="lang-html">
&lt;template&gt;
    &lt;div class=&quot;example&quot;&gt;{{ msg }}&lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
    export default {
        data() {
            return { msg: 'Hello world!' }
        }
    }
&lt;/script&gt;
                </code></pre>
            </section>
            <section>
                <h2>Snadná integrace</h2>
                <ul>
                    <li class="fragment">Bezproblémová koexistence několika Vue.js aplikací na jedné stránce</li>
                    <li class="fragment">Vložení Vue.js runtime přes <code>&lt;script&gt;</code></li>
                    <li class="fragment">Nebo pomocí Webpack, ...</li>
                    <li class="fragment">... Web components, Browserify, Require.js, ...</li>
                </ul>
            </section>
            <section>
                <h2>Výborná dokumentace</h2>
                <img src="static/images/doc.png" alt="">
            </section>
            <section>
                <h2>Flexibilita</h2>
                <ul>
                    <li class="fragment">Template lze psát v samostatných HTML souborech,</li>
                    <li class="fragment">nebo jako string v JS souboru,</li>
                    <li class="fragment">nebo pomocí JSX jako v Reactu,</li>
                    <li class="fragment">nebo pomocí čistého JS za využití virtual nodů (<code>render</code> funkce)</li>
                </ul>
                <p class="fragment"><em>
                    Přechod na Vue je jednoduchý, protože React/Angular vývojáři mohou nadále používat to, na co jsou zvyklí.
                </em></p>
            </section>
            <section>
                <h2>Svoboda volby</h2>
                <div class="row">
                    <div class="col-md-4">
                        <h4 style="text-align: left;">Template</h4>
                        <ul style="margin-left: 0;">
                            <li>normální HTML</li>
                            <li>JSX</li>
                            <li>Jade</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 style="text-align: left;">Komponenty</h4>
                        <ul style="margin-left: 0; padding-left: 0;">
                            <li>es5</li>
                            <li>es6 / es7</li>
                            <li>es6 + flow</li>
                            <li>TypeScript</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 style="text-align: left;">Styly</h4>
                        <ul style="margin-left: 0; padding-left: 0;">
                            <li>LESS</li>
                            <li>SASS/SCSS</li>
                            <li>běžné CSS</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <h2>Přehledný ekosystém</h2>
                <small>Základní pluginy vyvíjí core team. Na nejpodstatnější věci existuje <em>pouze jedno</em> komunitou využívané řešení.</small>
                <br>
                <br>
                <ul class="fragment">
                    <li>State management = <code>vuex</code></li>
                    <li>Routing = <code>vue-router</code></li>
                    <li>Scaffolding = <code>vue-cli</code></li>
                </ul>
            </section>
        </section>
        <section>
            <h2>Ekosystém podrobněji</h2>
            <table class="ecosystem">
                <tr>
                    <th>Projekt</th>
                    <th>Co dělá?</th>
                </tr>
                <tr>
                    <td><a class="ecosystem__link" href="https://github.com/vuejs/vue-router">vue-router</a></td>
                    <td>SPA routing</td>
                </tr>
                <tr>
                    <td><a class="ecosystem__link" href="https://github.com/vuejs/vuex">vuex</a></td>
                    <td>State management</td>
                </tr>
                <tr>
                    <td><a class="ecosystem__link" href="https://github.com/vuejs/vue-cli">vue-cli</a></td>
                    <td>Scaffolding</td>
                </tr>
                <tr>
                    <td><a class="ecosystem__link" href="https://github.com/vuejs/vue-loader">vue-loader</a></td>
                    <td>Single File Component (<code>*.vue</code>) loader pro webpack</td>
                </tr>
                <tr>
                    <td><a class="ecosystem__link" href="https://github.com/vuejs/vue/tree/dev/packages/vue-server-renderer">vue-server-renderer</a></td>
                    <td>Server-side rendering</td>
                </tr>
                <tr>
                    <td><a class="ecosystem__link" href="https://github.com/vuejs/vue-class-component">vue-class-component</a></td>
                    <td>TypeScript dekorátor pro definici komponent</td>
                </tr>
                <tr>
                    <td><a class="ecosystem__link" href="https://github.com/vuejs/vue-rx">vue-rx</a></td>
                    <td>RxJS integrace</td>
                </tr>
                <tr>
                    <td><a class="ecosystem__link" href="https://github.com/vuejs/vue-devtools">vue-devtools</a></td>
                    <td>Browser DevTools extension</td>
                </tr>
            </table>
        </section>
        <section>
            <h2>Kdo to používá?</h2>
            <ul>
                <li><a href="https://about.gitlab.com/" target="_blank">GitLab</a> - VCS provider</li>
                <li><a href="https://about.gitlab.com/" target="_blank">Netflix</a> - on-demand video provider (prozatím jen interní aplikace)</li>
                <li><a href="https://www.behance.net/" target="_blank">Behance</a> - portál pro designéry</li>
                <li><a href="https://www.baidu.com/" target="_blank">Baidu</a> - vyhledávač (druhý největší po Googlu)</li>
                <li><a href="https://www.alibaba.com/" target="_blank">Alibaba</a> - B2B platforma</li>
            </ul>
        </section>
        <section>
            <section data-background-color="#ea272e">
                <h2>Jak Vue.js funguje?</h2>
            </section>
            <section>
                <h2>MVVM pattern</h2>
                <small>Vue.js řeší hlavně VM část</small>
                <img src="static/images/MVVM.png" alt="">
            </section>
            <section>
                <h2>Komponenty</h2>
                <small>Aplikace napsaná ve Vue se skládá z jednotlivých komponent</small>
                <img src="static/images/components.png" alt="">
            </section>
            <section>
                <h2>Životní cyklus</h2>
                <small>Komponenty mají jasně definovaný životní cyklus</small>
                <img style="max-height: 40vh;" src="static/images/lifecycle.png" alt="">
            </section>
            <section>
                <h2>Reaktivita</h2>
                <small>Funguje na principů getterů/setterů, což nelze nashimovat → nepodporuje IE8</small>
                <img style="max-height: 40vh;" src="static/images/reactivity.png" alt="">
            </section>
        </section>
        <section data-background-color="#ea272e">
            <h2>Jak se Vue.js používá?</h2>
        </section>
        <section>
            <section>
                <h2>Interpolace</h2>
                <small>Syntaxe pro psaní šablon</small>
            </section>
            <section>
                <h2>Jednoduchý text</h2>
                <pre class="code"><code class="lang-html">
&lt;!-- &lt;span&gt;Message&lt;/span&gt; --&gt;
&lt;span&gt;Message: {{ msg }}&lt;/span&gt;
&lt;span v-once&gt;This will never change: {{ msg }}&lt;/span&gt;
                </code></pre>
            </section>
            <section>
                <h2>HTML stringy</h2>
                <pre class="code"><code class="lang-html">
&lt;p&gt;Using v-html directive: &lt;span v-html="rawHtml"&gt;&lt;/span&gt;&lt;/p&gt;
                </code></pre>
            </section>
            <section>
                <h2>Binding atributů</h2>
                <pre class="code"><code class="lang-html">
&lt;!-- &lt;div id=&quot;someId&quot;&gt;&lt;/div&gt; --&gt;
&lt;div v-bind:id="dynamicId"&gt;&lt;/div&gt;
&lt;button v-bind:disabled="isButtonDisabled"&gt;Button&lt;/button&gt;
                </code></pre>
            </section>
            <section>
                <h2>JS výrazy</h2>
                <pre class="code"><code class="lang-html">
{{ number + 1 }}
{{ ok ? 'YES' : 'NO' }}
{{ message.split('').reverse().join('') }}
&lt;div v-bind:id="'list-' + id"&gt;&lt;/div&gt;
                </code></pre>
            </section>
        </section>
        <section>
            <h2>Direktivy</h2>
            <div class="row">
                <div class="col-md-6">
                    <h5>v-bind</h5>
                    <small>Binding HTML atributů<br>nastaví atribut v DOM</small>
                    <pre class="code"><code class="lang-html">
&lt;!-- plná syntaxe --&gt;
&lt;a v-bind:href="url"&gt;&lt;/a&gt;
&lt;!-- zkratka --&gt;
&lt;a :href="url"&gt;&lt;/a&gt;
                    </code></pre>
                </div>
                <div class="col-md-6">
                    <h5>v-on</h5>
                    <small>Binding DOM eventů<br>při triggeru eventu zavolá VM funkci</small>
                    <pre class="code"><code class="lang-html">
&lt;!-- plná syntaxe --&gt;
&lt;a v-on:click="doMethod"&gt;&lt;/a&gt;
&lt;!-- zkratka --&gt;
&lt;a @click="doMethod"&gt;&lt;/a&gt;
                    </code></pre>
                </div>
            </div>
            <h5>Modifikátory</h5>
            <pre class="code"><code class="lang-html">
&lt;form @submit.prevent="onSubmit"&gt; ... &lt;/form&gt;
            </code></pre>
        </section>
        <section>
            <section>
                <h2>Vypočítané proměnné a watchery</h2>
            </section>
            <section>
                <h2>Watch</h2>
                <small>Podobně jako v Angularu, při změně proměnné zavolá funkci</small>
                <pre class="code"><code class="lang-javascript">
var vm = new Vue({
  el: '#demo',
  data: {
    firstName: 'Foo',
    lastName: 'Bar',
    fullName: 'Foo Bar'
  },
  watch: {
    firstName: function (val) {
      this.fullName = val + ' ' + this.lastName
    },
    lastName: function (val) {
      this.fullName = this.firstName + ' ' + val
    }
  }
})
                </code></pre>
            </section>
            <section>
                <h2>Vypočítané proměnné</h2>
                <small>Deklarace proměnné na základě její závislosti na jiných proměnných, automatická reaktivita. Preferované řešení pro odvozené proměnné.</small>
                <pre class="code"><code class="lang-html">
&lt;div id="demo"&gt;{{ fullName }}&lt;/div&gt;
                </code></pre>
                <pre class="code"><code class="lang-javascript">
var vm = new Vue({
  el: '#demo',
  data: {
    firstName: 'Foo',
    lastName: 'Bar'
  },
  computed: {
    fullName: function () {
      return this.firstName + ' ' + this.lastName
    }
  }
})
            </code></pre>
            </section>
            <section>
                <h2>Settery vypočítaných proměnných</h2>
                <small>Vypočítaná proměnná může mít i setter, který se zavolá, když do ni někdo zkusí něco přiřadit.</small>
                <pre class="code"><code class="lang-javascript">
//...
computed: {
  fullName: {
    // getter
    get: function () {
      return this.firstName + ' ' + this.lastName
    },
    // setter
    set: function (newValue) {
      var names = newValue.split(' ')
      this.firstName = names[0]
      this.lastName = names[names.length - 1]
    }
  }
}
//...
            </code></pre>
            </section>
        </section>
        <section>
            <h2>Bindingy pro <code>class</code></h2>
            <div class="row">
                <div class="col-md-8">
                    <pre class="code"><code class="lang-html">
&lt;!-- &lt;div class="active"&gt;&lt;/div&gt; --&gt;
&lt;div :class="{
  'active': isActive,
  'text-danger': hasError
}"&gt;
&lt;/div&gt;
&lt;!-- &lt;div class=&quot;default a-class-name&quot;&gt;&lt;/div&gt; --&gt;
&lt;div :class=&quot;['default', arbitrary]&quot;&gt;
&lt;/div&gt;
                    </code></pre>
                </div>
                <div class="col-md-4">
                    <pre class="code"><code class="lang-javascript">
//...
data: {
  isActive: true,
  hasError: false,
  arbitrary: 'a-class-name'
}
                    </code></pre>
                </div>
            </div>
        </section>
        <section>
            <h2>Podmíněný rendering</h2>
            <small>Render kusu šablony pouze pokud je splněna podmínka</small>
            <pre class="code"><code class="lang-html">
&lt;div v-if=&quot;type === 'A'&quot;&gt;A&lt;/div&gt;
&lt;div v-else-if=&quot;type === 'B'&quot;&gt;B&lt;/div&gt;
&lt;div v-else-if=&quot;type === 'C'&quot;&gt;C&lt;/div&gt;
&lt;div v-else&gt;Not A/B/C&lt;/div&gt;
            </code></pre>
        </section>
        <section>
            <h2>Cykly</h2>
            <pre class="code"><code class="lang-html">
&lt;ul id=&quot;example-1&quot;&gt;
  &lt;li v-for=&quot;item in items&quot;&gt;{{ item.message }}&lt;/li&gt;
&lt;/ul&gt;
            </code></pre>

            <pre class="code"><code class="lang-javascript">
var example1 = new Vue({
  el: '#example-1',
  data: {
    items: [
      { message: 'Foo' },
      { message: 'Bar' }
    ]
  }
})
            </code></pre>
        </section>
        <section>
            <h2>Event handlery</h2>
            <pre class="code"><code class="lang-html">
&lt;div id=&quot;example-2&quot;&gt;
  &lt;button @click=&quot;greet&quot;&gt;Greet&lt;/button&gt;
&lt;/div&gt;
            </code></pre>

            <pre class="code"><code class="lang-javascript">
var example2 = new Vue({
  el: '#example-2',
  data: {
    name: 'Vue.js'
  },
  methods: {
    greet(event) {
      // `this` ukazuje na instanci Vue komponenty
    }
  }
})
            </code></pre>
        </section>
        <section>
            <h2>Binding pro inputy formulářů</h2>
            <small><code>v-model</code> umožňuje obousměrný binding známý z Angularu</small>
            <pre class="code"><code class="lang-html">
&lt;input v-model=&quot;message&quot; placeholder=&quot;edit me&quot;&gt;
&lt;p&gt;Message is: {{ message }}&lt;/p&gt;
            </code></pre>
        </section>
        <section>
            <h2>Modifikátory kláves</h2>
            <pre class="code"><code class="lang-html">
&lt;!-- propagace click eventu se zastaví automaticky --&gt;
&lt;a @click.stop=&quot;oThis&quot;&gt;&lt;/a&gt;
&lt;!-- submit event nezpůsobí reload stránky --&gt;
&lt;form @submit.prevent=&quot;onSubmit&quot;&gt;&lt;/form&gt;
&lt;!-- modifikátory lze řetězit --&gt;
&lt;a @click.stop.prevent=&quot;doThat&quot;&gt;&lt;/a&gt;
&lt;!-- k dispozici je mnoho dalších modifikátorů: .tab, .delete, .esc, .space, ... --&gt;
&lt;input @keyup.enter=&quot;submit&quot;&gt;
            </code></pre>
        </section>
        <section>
            <h2>Základní struktura komponenty</h2>
            <pre class="code"><code class="lang-javascript">
export default {
    name: 'RangeSlider', // název
    mixins: [], // mixiny umožňují sdílet funkcionalitu
    props: {}, // vstupní proměnné, lze definovat i typovou kontrolu
    data() {}, // lokální proměnné komponenty
    computed: {}, // reaktivní vypočítané proměnné
    components: {}, // registrace child komponent, které tato komponenta využívá
    watch: {}, // definice watcherů
    methods: {}, // definice metod

    // základní lifecycle hooky
    beforeCreate() {}, // před vytvořením komponenty
    created() {}, // po tom co je komponenta vytvořena
    beforeMount() {}, // před připojením komponenty na DOM element
    mounted() {}, // po připojení na DOM element
    beforeUpdate() {}, // před aktualizací datového modelu
    updated() {},   // po aktualizaci datového modelu
    beforeDestroy() {}, // před odstraněním komponenty z DOMu
    destroyed() {}, // po odstranění komponenty z DOMu
    errorCaptured() {},
    serverPrefetch() {}, // pro načtení async dat při SSR
};
            </code></pre>
        </section>
        <section>
            <section>
                <h2>Vuex</h2>
                <ul>
                    <li>Řešení pro state management z dílny core týmu</li>
                    <li>Inspirace Reduxem známým z Reactu</li>
                </ul>
            </section>
            <section>
                <h2>Jak to funguje?</h2>
                <img style="max-height: 50vh;" src="static/images/vuex.png" alt="">
            </section>
            <section>
                <h2>Sdílený stav</h2>
                <small>Komponenty používají jeden store ~ single source of truth</small>
                <img style="max-height: 40vh;" src="static/images/vuex-shared.png" alt="">
            </section>
        </section>
        <section>
            <section>
                <h2>vue-router</h2>
                <ul>
                    <li>Zpřístupňuje navigaci pro SPA aplikace</li>
                    <li>Perfektní integrace, de-facto routing řešení vyvíjené core týmem</li>
                </ul>
            </section>
            <section>
                <h2>Základní konfigurace</h2>
                <pre class="code"><code class="lang-javascript">
// Komponenty
const Foo = { template: '&lt;div&gt;foo&lt;/div&gt;' }
const User = { template: '&lt;div&gt;user&lt;/div&gt;' }

// Jednotlivé routy
const routes = [
  { path: '/foo', name: 'foo', component: Foo },
  { path: '/user/:userId', name: 'user', component: User }
]

// Instance routeru
const router = new VueRouter({ routes })

// Root instance Vue
const app = new Vue({ router }).$mount('#app')
            </code></pre>
            </section>
            <section>
                <h2>Navigace</h2>
                <pre class="code"><code class="lang-javascript">
// bez parametrů
router.push('foo')
// s parametry
router.push({ name: 'user', params: { userId: '123' } })
// s query stringem: /foo?param=value
router.push({ name: 'foo', query: { param: 'value' } })
            </code></pre>
            </section>
        </section>
        <section>
            <section>
                <h2>vue-cli</h2>
                <small>Jednoduchý scaffolding nástroj</small>
            </section>
            <section>
                <h2>Vytvoření nového projektu</h2>
                <pre class="code"><code class="lang-bash">
npm install -g @vue/cli
vue create my-project
            </code></pre>
            <div class="row">
                <div class="col-md-6">
                    <img src="static/images/cli-new-project.png" alt="">
                </div>
                <div class="col-md-6">
                    <img src="static/images/cli-select-features.png" alt="">
                </div>
            </div>
            </section>
            <section>
                <h2>Vytvoření nového projektu pomocí GUI</h2>
                <div class="row">
                    <div class="col-md-3">
                        <pre class="code"><code class="lang-bash">
vue ui
                        </code></pre>
                    </div>
                    <div class="col-md-9">
                        <img src="static/images/ui-new-project.png" alt="">
                    </div>
                </div>
            </section>
            <section>
                <h2>vue-cli-service</h2>
                <small>Po vytvoření projektu nabízí řadu hotových příkazů bez nutnosti další konfigurace</small>
                <pre class="code"><code class="lang-bash">
serve               start development server
build               build for production
inspect             inspect internal webpack config
test:e2e            run e2e tests with Cypress
lint                lint and fix source files
test:unit           run unit tests with jest
                    </code></pre>
            </section>
        </section>
        <section>
            <h2>DevTools</h2>
            <small>Chrome extension pro inspekci běžící Vue aplikace</small>
            <div class="row">
                <div class="col-md-3">
                    <ul>
                        <li>vue-router</li>
                        <li>vuex</li>
                        <li>výkon</li>
                        <li>component browser</li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <img style="height: 40vh;" src="static/images/devtool.png" alt="">
                </div>
            </div>
        </section>
        <section data-background-color="#ea272e">
            <h1>Q&amp;As?</h1>
            <h2>Díky za pozornost</h2>
        </section>
    </div>
</div>
<!-- built files will be auto injected -->
</body>
</html>
